#div_1 {
    width: 150px;
    height: 150px;
    background-color: red;
}

#div_2 {
    width: 120px;
    height: 120px;
    background-color: blue;
}

#div_3 {
    width: 130px;
    height: 130px;
    background-color: green;
}

#div_4 {
    width: 100px;
    height: 100px;
    background-color: yellow;
}
