body {
    background-color: #fea600;
    text-align: center;
    color: white;
}

button {
    background-color: #fea600;
    color: white;
    padding: 14px 10px;
    border-color: white;
    border-radius: 8px;
}

